html{
  height: 100%;
}
body{
  background: linear-gradient(rgb(253, 204, 204) 0%, rgb(255, 148, 148) 50%);
  font-family: Arial, Helvetica, sans-serif;
}
.mainBox{
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  padding: 10px;
  margin: 0 auto;

  text-align: center;
  animation: enter-box-down 0.6s;
  animation-fill-mode: forwards;
  
}
@keyframes enter-box-down{
  0%{
    transform: translateY(-100%);
    opacity: 0;
  }
  50%{
    transform: translateY(30%);
  }
  100%{
    transform: translateY(0%);
    opacity: 1;
  }
}
h1{
  margin: 0 0 10px;
  font-family: 'Times New Roman', Times, serif;
  animation: enter-text-fade 0.8s 0.6s;
  animation-fill-mode: backwards;
}
.counterHTML{
  margin: 0 0 20px;
  font-family: arial, sans-serif;
  font-size: 10px;
  animation: enter-text-fade 0.8s 0.7s;
  animation-fill-mode: backwards;
}
.inputHTML{
  padding: 1px;
  width: 145px;
  border-radius: 2px;
}
.inputHTML:focus{
  padding: 1px;
  outline: none;
  border: 1px solid blue;
}
.inputHTML, .btn{
  border: 1px solid black;
  outline: none;
  border-radius: 2px;
  animation: enter-text-fade 0.8s 0.8s;
  animation-fill-mode: backwards;
}
@keyframes enter-text-fade{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.errorHTML{
  margin: 5px;
  color: red;
  font-size: 10px;
  font-style: italic;
  display: none;
  animation: error-flash 1s;
}
@keyframes error-flash{
  0%{
    opacity: 0;
  }
  20%{
    opacity: 1;
  }
  40%{
    opacity: 0;
  }
  60%{
    opacity: 1;
  }
  80%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.todoList{
  padding: 0;
  list-style: none;
}
li{
  line-height: 1.8em;
  animation: item-fade-in 0.4s;
}
@keyframes item-fade-in{
  from{
    transform: translateY(100%);
    opacity: 0;
  }
  to{
    transform: translateY(0%);
    opacity: 1;
  }
}
li >span:nth-child(1):hover{
  text-decoration: line-through;
}
.item-completed{
  text-decoration: line-through;
  animation: completed-fade-out 0.4s;
  animation-fill-mode: forwards;
}
@keyframes completed-fade-out{
  from{
    color: black;
  }
  to{
    color: grey;
  }
}
.trashcan{
  padding: 0 0 0 10px;
  font-size: 10px;
  cursor: pointer;
  opacity: 0.6;
}
.trashcan:hover{
  opacity: 1;
  transition: opacity 0.3s;
}